div.block-container.css-z5fcl4.ea3mdgi4 {
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );;
} 

header.css-18ni7ap.ezrtsby2 {
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );;
}

div.streamlit-expanderHeader.st-ae.st-by.st-ag.st-ah.st-ai.st-aj.st-bz.st-c0.st-c1.st-c2.st-c3.st-c4.st-c5.st-ar.st-as.st-b6.st-b5.st-b3.st-c6.st-c7.st-c8.st-b4.st-c9.st-ca.st-cb.st-cc.st-cd {
    background-color : #FFFFFF
}

div.css-1jjmcle.e1f1d6gn0 {
     border: 0.5px solid #F2F2F2
}
