/* div.block-container.css-z5fcl4.e1g8pov64 {
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );;
} */

div.block-container.css-z5fcl4.ea3mdgi4 {
     background-color: #000000;
}

header.css-18ni7ap.e13qjvis2 {
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );;
}

div.streamlit-expanderHeader.st-ae.st-bx.st-ag.st-ah.st-ai.st-aj.st-by.st-bz.st-c0.st-c1.st-c2.st-c3.st-c4.st-ar.st-as.st-b6.st-b5.st-b3.st-c5.st-c6.st-c7.st-b4.st-c8.st-c9.st-ca.st-cb.st-cc {
    background-color : #FFFFFF
}

div.css-1r6slb0.esravye1 {
     border: 0.5px solid #F2F2F2
}
